.titled-pane:collapsed > .title
{
    -fx-background-color: #B1D5F6;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.titled-pane > .title
{
    -fx-background-color: #037C99;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.titled-pane:hover > .title
{
    -fx-background-color: #2FAECD;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-border-width: 2px;
    -fx-border-color: white;

}

.titled-pane:collapsed:hover > .title
{
    -fx-background-color: #cee2f5;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-border-width: 2px;
    -fx-border-color: white;
}

.content{
    -fx-border-width: 0;
}

.labeltext{
    -fx-font-family: sans-serif;
    -fx-font-size: 22;
}

.buttons{
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-background-radius: 0
 }

.buttons:hover{
    -fx-background-color: e6e6e6;
    -fx-border-color: e6e6e6;
    -fx-background-radius: 0
}